<div class="card">
	<h4 class="card-header">Login</h4>
	<div class="card-body">
		<label for="username">Username</label>
		<input type="text" [(ngModel)]="username" class="form-control" />
		<label for="password">Password</label>
		<input type="password" [(ngModel)]="password" class="form-control" />
		<br />
		<button [disabled]="loading" class="btn btn-primary"
      (class)="validateUser()">
      Login
    </button>
		<a [routerLink]="['/register']" class="button fancy-button">
			Register
		</a>
	</div>
</div>