<div class="card">
	<h4 class="card-header">Login</h4>
	<div class="card-body">
		<label for="username">Username</label>
		<input type="text" class="form-control" [(ngModel)]="username"  />
		<p>{{username}}</p>
		<label for="password">Password</label>
		<input type="password"  class="form-control" [(ngModel)]="password" />
		<br />
		<button [disabled]="loading" class="btn btn-primary"
      (click)="validateUser($event)"
      >
      Login
    </button>

		<a [routerLink]="['/register']" class="button fancy-button">
			Register
		</a>
	</div>
</div>