<p>
  register works!
</p>
<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        [(ngModel)]="firstName"
        formControlName="firstName"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        [(ngModel)]="lastName"
        formControlName="lastName"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        [(ngModel)]="username"
        formControlName="username"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        [(ngModel)]="password"
        formControlName="password"
        class="form-control"
      />
    </div>
  </div>
  <button (click)="register(username,password,lastName,firstName)">submit</button>
</div>
