<p>
  register works!
</p>
<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" [(ngModel)]="firstName" />
    <p>{{firstName}}</p>

    <label for="lastName">Last Name</label>
    <input type="text" [(ngModel)]="lastName" class="form-control" />

    <label for="username">Username</label>
    <input type="text" [(ngModel)]="username" class="form-control" />

    <label for="password">Password</label>
    <input type="password" [(ngModel)]="password" class="form-control" />
  </div>
  <button (click)="register($event)">submit</button>
</div>
